/* Start Main Rules */

body {
  background-color: #F4F4F4;
  font-size:16px;
}

h1 {
  font-size: 55px;
  margin:40px 0;
  font-weight: bold;
  color:#666;
  margin-top: 20px;
}

.orange-font {
  color: #5cb85b;
  text-transform: capitalize;
}

.statusbar {
  font-size: 14px;
  background: #fff;
  padding: 8px;
  border-left: 5px solid #00e800;
}

.input-container {
  position: relative;
}

.login-page .selected {
  color: #B22020;
}

.asterisk {
  font-size: 20px;
  position: absolute;
  top: 7px;
  right:10px;
  color:#D20707;
}

.main-form .asterisk {
    font-size: 30px;
    position: absolute;
    top: 8px;
    right: 30px;
    color: #D20707;
}

.nice-message {
  padding: 10px;
  background: #FFF;
  margin:10px 0;
  border-left:5px solid #080;
}

/* END Main Rules */

/* Start Bootstrap Edits */

.navbar {
  border-radius:0;
  margin-bottom:20px;
}

.navbar>li>a,
.navbar-brand {
  padding: 15px 12px;
} 

.navbar-brand {
  font-size:1em;
}

.navbar-inverse .navbar-nav >.open > a,
.navbar-inverse .navbar-nav >.open > a:focus,
.navbar-inverse .navbar-nav >.open > a:hover,
.dropdown-menu {
  background-color:#3498db;
}

.dropdown-menu {
  min-width: 180px;
  padding:0;
  font-size:1em;
  border:none;
  border-radius:0;
}

.dropdown-menu > li > a {
 color:#FFF;
 padding: 10px 15px;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  color: #222;
  padding: 10px 15px;
  background-color: #FFF;
}

.form-control {
  position: relative;
}

/* END Bootstrap Edits */

/* Start Header Edits */

.upper-bar {
  padding: 10px;
  background-color: #FFF;
}

.upper-bar a{
  margin: 0 5px;
}

.my-image {
  width:32px;
  height:32px;
}

.thumbnail .caption{
  min-height: 230px;
  overflow: hidden;
}

/* END Header Edits */

/* Start Login Page Edits */

.login-page form,
.the-errors {
  max-width: 380px;
  margin: auto;
}

.login-page form input {
  margin-bottom: 10px;
}

.login-page [data-class="login"].selected {
  color:#337AB7;
}

.login-page [data-class="signup"].selected {
  color:#5cb85b;
}

.login-page h1 {
  color: #C0C0C0;
}

.login-page h1 span {
  cursor: pointer;
}

.login-page .signup {
  display: none;
}

#customFile {
  display: none;
}

.custom-file-label {
  display: inline-block;
  max-width: 100%;
  font-weight: 700;
  width: 100%;
  text-align: center;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 0;
  margin: 8px 0;
  margin-top: 0;
  cursor: pointer;
}

.custom-file-label:before {
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    transition: color 0.2s ease;
    content: 'Browse';
    display: block;
    position: absolute;
    z-index: 1;
    top: 2px;
    right: 2px;
    line-height: 20px;
    text-align: center;
}

.custom-file-label:hover:before, .custom-file-label:focus:before {
    background-color: #e6e6e6;
    color: #333333;
    text-decoration: none;
    background-position: 0 -15px;
    transition: background-position 0.2s ease-out;
}

.the-errors .msg {
  padding: 10px;
  text-align: left;
  border-left:5px solid #cd6858;
  background-color: #FFF;
  margin-bottom: 8px;
  border-right:1px solid #e0e0e0;
  border-top:1px solid #e0e0e0;
  border-bottom:1px solid #e0e0e0;
  color:#919191;
}

.the-errors .error {
  border-left:5px solid #cd6858;
}

/* Start Login Page Edits */

/* Start Categories Edits */

.item-box {
  position: relative;
  min-height: 480px;
}

.item-box .price-tag {
  background-color: #585858;
  padding: 2px 10px;
  position: absolute;
  left: 0;
  top:10px;
  font-weight: bold;
  color:#FFF;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.item-box .approve-status {
  position: absolute;
  top:40px;
  left:0;
  background-color: #b85a5a;
  color:#FFF;
  padding: 3px 5px;
}

.item-box .caption h3 {
  font-size: 20px;
}

.item-box .caption p {
  word-break: break-word;
  font-size: 15px;
  line-height: 1.5;
  overflow: hidden;
  margin-bottom: 30px;
}

/* END Categories Edits */

/* Start Profile page */

.information {
  margin-top: 20px;
}

.information ul {
  margin:0;
  padding: 0;
}

.information ul li {
  padding: 10px;
}

.information ul li:nth-child(odd) {
  background-color: #EEE;
}

.information ul li span {
  display: inline-block;
  width: 120px;
}

.thumbnail .date {
  text-align: right;
  font-size: 13px;
  color: #AAA;
  font-weight: bold;
  position: absolute;
  bottom: 10px;
}

.information .btn {
  margin-top:10px;
}


/* ENd Profile page */

/* Start Show Items Page */

.prev-image {
  margin-bottom: 20px;
}

.item-info h2 {
  padding: 10px;
  margin: 0;
}

.item-info p {
  padding: 10px;
}

.item-info ul li {
  padding: 10px;
}

.item-info ul li:nth-child(odd) {
  background-color: #E8E8E8;
}

.item-info ul li span {
  display: inline-block;
  width: 120px;
}

.tags-items a {
  display: inline-block;
  background-color: #e2e2e2;
  padding: 2px 10px;
  border-radius: 5px;
  color: #666;
  margin-right: 5px;
}

.add-comment h3 {
  margin: 0 0 10px;
}

.add-comment textarea {
  display:block;
  margin-bottom: 10px;
  width: 500px;
  height:120px;
}

.comment-box {
  margin-bottom: 20px;
}

.comment-box img {
  max-width: 100px;
  margin-bottom: 10px;
}

.comment-box .lead {
  background-color:#E0E0E0;
  position: relative;
  padding: 10px;
  margin-top: 25px;
}

.comment-box .lead:before {
  content: "";
  width:0;
  height:0;
  border-width:15px;
  border-style:solid;
  border-color:transparent #E0E0E0 transparent  transparent;
  position: absolute;
  left:-28px;
  top:10px;
}


/* END Show Items Page */

/* Start Our Custom FrameWork */

.custom-hr {
  border-top: 1px solid #c9c9c9;
}

/* this is for product img in front page */
.product-img {
  width: 100%;
  aspect-ratio: 16/19;
  object-fit: cover;
}

/* END Our Custom FrameWork */